/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/***    General     ***/
@import url("http://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Roboto", sans-serif */
    font-family: Rubik;
    font-weight: 700;
}

body {
    margin: 0 auto
}

.m-5-auto {
    margin: 5rem auto;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.primary-button {
    margin-top: 5rem;
    margin-right: 1rem;
    padding: .6rem;
    width: 10rem;
    background: #222;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s;
    cursor: pointer;
    text-transform: capitalize
}

/***    Landing Page     ***/
.spcolor{
    color: #55f10d;
}
.main-title,
.main-para {
    color: #f1f1f1;
    display: flex;
}
.text-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-title {
    padding-top: 10rem;
    /*font-size: 20sp;*/
    /* font-family: 'Fascinate', cursive; */
    text-transform: uppercase;
    /*color: neon;*/
}

.main-para {
    font-size: 2.5rem;
    text-Transform: capitalize
}

#reg_btn span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#reg_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#reg_btn:hover span {
  padding-right: 25px;
}

#reg_btn:hover span:after {
  opacity: 1;
  right: 0;
}
#reg_btn2 span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#reg_btn2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#reg_btn2:hover span {
  padding-right: 25px;
}

#reg_btn2:hover span:after {
  opacity: 1;
  right: 0;
}
/***    Login Page     ***/
h2 {
    font-weight: 300
}

form {
    display: inline-block;
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2rem;
    margin: 2rem 0 1rem 0
}

form label {
    float: left;
    font-size: .9rem;
    margin: 0;
    padding: 0
}

.right-label {
    float: right;
    cursor: pointer
}

input {
    width: 15rem;
    padding: .3rem;
    border-radius: 5px;
    outline: none;
    border: none
}

#sub_btn {
    display: block;
    width: 100%;
    padding: .3rem;
    border: none;
    background: #222;
    color: #fff;
    border-radius: 3px;
}

#sub_btn:hover {
    background: #333;
    transition: all .5s
}

footer p {
    margin: 0;
    font-size: .9rem
}

/***    Register Page     ***/
#checkbox {
    width: 1rem
}

form span {
    font-size: .8rem
}

#reset_pass_lbl {
    float: left
}

/***    Home Page     ***/
.home-page-title {
    color: #222
}




/*Login Page
    and
RegisterPage*/

.loginOuterDiv{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('D:\Elitmus\test_it\src\images\cave-clipart-animation-2.gif');
    min-height: 100vh;

}

.loginInnerDiv{
  margin: auto;
  display:flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  display: flex;
  background-color: rgb(115, 85, 154);
  padding: 20px;
  border-radius: 20px;
}

.form{
  background-color: rgb(71, 42, 108);
  border-radius: 30px;
  border: none;
  color: white;
}


.form-input{
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

#login_btn{
  display: block;
    width: 100%;
    padding: .5rem;
    border-radius: 20px;
    background: #222;
    color: #fff;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
    cursor: pointer;
}

#form-footer p{
  justify-content: center;
  display: flex;
  color: white;
  font-size: 20px;
}

.forgot-link{
  color: #fff;
}

.linkMove{
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

.term-link{
  color: black;
}

.form-span{
  color: white;
}


/* /Registrer page/ */

.regOuterDiv{
  display:flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('https://webstockreview.net/images/cave-clipart-animation-2.gif');
  min-height: 100vh;

}
